<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C_sharp_Kerem_Cesur_Odev.Properties.Settings.VizeOdeviConnectionString"
            connectionString="Data Source=MELANOCETUS\SQLEXPRESS;Initial Catalog=VizeOdevi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="C_sharp_Kerem_Cesur_Odev.Properties.Settings.Kerem_Cesur_C_ConnectionString"
            connectionString="Data Source=MELANOCETUS\SQLEXPRESS;Initial Catalog=Kerem_Cesur_C#;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>